@import "../../bower_components/bootstrap/less/variables.less";

@font-family-sans-serif: "proxima-nova", sans-serif;
@brand-primary: #3eb4e2;

@navbar-default-color: #fff;
@navbar-default-bg: @brand-primary;
@navbar-default-border: none;

@navbar-default-link-color: #bbe5f5;
@navbar-default-link-hover-color: #fff;
@navbar-default-link-active-color: @navbar-default-link-hover-color;
@navbar-default-link-active-bg: transparent;

@import "../../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/forms.less";

@import "../../bower_components/bootstrap/less/navs.less";
@import "../../bower_components/bootstrap/less/navbar.less";

// Utility classes
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";

@import "util/toolbox.less";


.center {
	position: absolute;
}

.slide {
	position: relative;
	padding-bottom: 150px;
	overflow: hidden;
}

a:hover {
	text-decoration: none;
}

.screened {
	
	position: relative;

	.screen {
		position: absolute;
		background: url('../img/mbp.png') center top no-repeat;
		background-size: contain;
		z-index: 10;
	}
}

.navbar-fixed-top {

	text-transform: uppercase;
	font-weight: 300;

	.nav li {
		&:last-child a:after {
			display: none;
		}
		a:after {
			content: "/";
			position: absolute;
			right: -0.1em;
			font-size: 1.5em;
			color: #258db6;
		}
	}

	.navbar-brand {
		text-indent: -9999px;
		background: url('../img/logo-small.png') left center no-repeat;
		min-width: 90px;
		min-height: 46px;
	}
}

#hello {

	background: url('../img/intro.jpg') center center;
	background-size: cover;

	h1 {
		background: url('../img/logo-large.png') center top no-repeat;
		width: 500px;
		margin: 0 auto;
		display: block;
		padding-top: 250px;
		text-align: center;
		font-size: 16pt;
		text-transform: uppercase;
		font-weight: 300;
		color: #666;

		span {
			color: #999;
		}
	}
	.btn-calltoaction {
		display: block;
		width: 200px;
		padding: 10px;
		text-align: center;
		border-radius: 4px;
		border: 1px solid @brand-primary;
		font-family: @font-family-serif;
		font-style: italic;
		margin: 0 auto;
		.transition(0.3s);
		background: rgba(0, 0, 0, 0);

		&:hover {
			background: @brand-primary;
			color: #fff;
			.transition(1s);
		}
	}

	.divider {
		margin: 20px auto;
		border-top: 1px solid #333;
		border-bottom: 1px solid #000;
		width: 150px;
	}
}

h3 {
	font-weight: 300;
	font-size: 2em;
	text-align: center;
}
.section-divider {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section-title {
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 200;
	margin: 80px 0 40px;
	text-align: center;
	color: #666;

	span {
		color: @brand-primary;
	}
}

.blue .section-title {
	color: #fff;
}

.slide > .arr:last-child {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -28px;
	.transition(0.3s);

	&:hover {
		bottom:20px;
	}
}

.arr {
	display: block;
	background: url('../img/arrow.png') 0px 0px no-repeat;
	width: 57px;
	height: 61px;

	&.arr-light {
		background-position: -57px 0;
	}
	&.arr-dark {
		background-position: 0 0;
	}
	&.arr-down {
		.rotate(0deg);
	}
	&.arr-left {
		.rotate(90deg);
	}
	&.arr-right {
		.rotate(270deg);
	}
}

.blue {
	background: #3fb4e2;
	color: #fff;
	padding: 20px 0;
}

#about {
	.blue {
		margin-top: 50px;
		p {
			font-size: 1.2em;
			line-height: 1.6em;
			position: relative;
		}
	}
	.screened {
		margin: -50px 0;
	}
}

.profile {

	text-align: center;

	&::before {
		content: "\00a0";
		#gradient.vertical(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
		width: 100%;
		height: 180px;
		display: block;
		position: absolute;
		top: 80px;
	}
	img {
		box-shadow: 0 -5px 10px rgba(0,0,0,.12);
		border-radius: 50%;
		position: relative;
		z-index: -10;
		display: block;
		margin: 80px auto -40px;
	}
	
	h3 {
		font-family: @font-family-serif;
		text-transform: lowercase;
		font-style: italic;
		color: #aaa;
		font-size: 1.2em;
		margin-top: -5px;
	}
	h2 {
		color: #333;
		position: relative;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 2.3em;
		margin: 0;
	}
	p {
		width: 66%;
		line-height: 1.5em;
		margin: 0 auto;
		min-height: 11em;
	}
	.social {
		margin: 1em 0.5em;
	}
}

a.social {
	border-radius: 50%;
	border: 1px solid #999;
	width: 2em;
	display: inline-block;
	height: 2em;
	padding: 0.5em;
	color: #999;
	background: rgba(0, 0, 0, 0);
	line-height: 1em;
	text-align: center;

	&:hover {
		background: #000;
		color: #fff;
		border: 1px solid #000;
		.transition(0.3s);
	}
}

#services {
	.row {
		font-size: 1.5em;
	}
}

.squishyicon.fa {
		color: #fff;
		display: inline-block;
		font-size: 2.25em;
		line-height: 2.5em;
		width: 2.5em;
		text-align: center;
		border: 1px solid #fff;
		border-radius: 50%;
		margin: 0 0.3em;
		.transition(0.3s);

		&:hover {
				background: #fff;
				color: #000;
				.transition(0.3s);
		}
}

.flipper-frames () {
	0% {
		.rotateY(0deg);
	}
	50% {
		.rotateY(90deg);
	}
	100% {
		.rotateY(0deg);
	}
}

@-webkit-keyframes flipper-rotate {.flipper-frames;}
@-moz-keyframes flipper-rotate {.flipper-frames;}
@-ms-keyframes flipper-rotate {.flipper-frames;}
@keyframes flipper-rotate {.flipper-frames;}

.service {
	text-align: center;
	position: relative;

	> div {
		.rotateY(0deg);
		.transition(0.2s);
		padding: 40px 0;

		&::after {
			content: "\00a0";
			display: block;
			background: #fff;
			position: absolute;
			top: 5em;
			width: 90%;
			height: 65%;
			z-index: 0;
			left: 5%;
			border-radius: 4px;
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
		}
	}
	&:hover > div {
		.animation(flipper-rotate 0.2s);

		p, h3, .fa {
			color: #fff;
			.transition(0.2s);
		}
		&::after, .fa {
			background: #000;
		}
	}

	h3 {
		margin: 10px 0 0;
		text-transform: uppercase;
		font-size: 1em;
		color: #000;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	}
	p {
		font-size: 0.8em;
		margin: 10px 10%;
		color: #666;
	}
	* {
		position: relative;
		z-index: 10;
	}
	.fa {
		background: #fff;
		color: #000;
		border: none;
	}
	p, h3, .fa {
		.transition(0.2s);
	}
}

#portfolio-grid {
	margin: 0;
	padding: 0;
	text-align: center;

	&:after{
		content: '';
		display: inline-block;
		width: 100%;
	}

	.gap{
		display: inline-block;
		width: 200px;
	}

	.mix {
		width: 23%;
		margin: 1%;
		opacity: 0;
		display: none;
		cursor: pointer;
	}
}

#portfolio {
	.filtering {
		text-align: center;

		li {
			margin-right: 10px;
			
			&:after {
				content: "/";
				color: @brand-primary;
				padding-left: 15px;
			}
			
			&:last-of-type:after {
				content: "";
			}
		}
	}

	.filter {
		font-family: @font-family-serif;
		font-style: italic;
		text-transform: lowercase;
		color: #424242;
		cursor: pointer;
		display: inline-block;

		&.active {
			color: @brand-primary;
		}
	}

	.thumbnail {
		height: 200px;
		background-position: center center;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
		background-size: 100%;
		.transition(0.2s);

		&:hover {
			background-size: 110%;
			.transition(0.3s);
		}
	}

	.projectinfo h4 {
		text-align: left;
		text-transform: uppercase;
		font-weight: 400;
		color: #666;

		em {
			text-transform: lowercase;
			font-family: 'Georgia', Georgia, serif;
			color: #aaa;
		}
	}
}
#portview {

	background: #fafafa;
	padding: 40px 0;
	
	blockquote {
		border-left: 3px solid #ddd;
		margin-left: 10px;
		padding-left: 19px;
		font-style: italic;
	}
	img {
		max-width: 100%;
	}
}
h3.title {
	text-align: left;
	text-transform: uppercase;
	color: #666;

	&::after {
		content: "\00a0";
		width: 3em;
		height: 1px;
		display: block;
		background: #ccc;
		margin: 10px 0;
	}
}
#clients {

	background: url('../img/testimonial-bg.png');
	padding: 100px 0;
	position: relative;

	img {
		border-radius: 50%;
		width: 100%;
	}

	img, blockquote {
		position: relative;
		top: 0;
	}

	ul, li {
		padding: 0;
		margin: 0;
	}

	.bg {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -10;
		background-size: cover;
	}

	.white {
		width: 100%;
		background: #fff;
		padding: 20px 0;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
		overflow: hidden;
	}

	.col-md-6.center {
		position: relative;
	}

	blockquote {
		border-left: 1px solid rgba(255, 255, 255, 0.5);
		padding: 18px;
		border-radius: 10px;
		font-size: 1.1em;
		line-height: 1.5em;
		color: #666;

		i {
			color: #999;

			&::before {
				content: "- ";
				display: inline;
			}
		}
	}
}

#contact {
	background: #3fb4e2;
	color: #fff;
	padding-bottom: 130px;

	.row {
		font-size: 1.2em;
	}
	
	input, textarea {
		border-radius: 1px;
		border: none;
		background: #247fa3;
		color: #76c7e6;
		font-style: italic;
		font-family: @font-family-serif;
		display: block;
		width: 100%;
		margin: 10px 0;
		padding: 8px;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		font-size: 0.9em;

		&:focus {
			font-style: normal;
			color: #fff;
		}
	}
	input {
		.placeholder(#76c7e6)
	}

	input[type="submit"] {
		background: #96d7f2;
		text-transform: uppercase;
		font-family: @font-family-sans-serif;
		font-style: normal;
		color: #2781a5 !important;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
		letter-spacing: 1px;

		&:hover {
			background: #b5e1f3;
		}
	}

	a.social {
		color: #fff;
		border-color: #fff;
		text-align: center;
		margin: 0 3px;

		&:hover {
			border-color: #000;
		}
	}

	#socialbar {
		background: url('../img/logo-small.png') 20px center no-repeat;
		min-height: 46px;
		text-align: right;
	}

	h1 {
		color: #fff;
	}

	footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width:100%;
	}
}

footer {
	line-height: 75px;
	background: #247fa3;
	border-top: 1px solid #79cbeb;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	color: #3fb4e2;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}